$footer-height: 160px

.footer-box
  width: 100%
  clear: both
  height: $footer-height
  background-color: #807662

@media (max-width: $container-width)
  .footer-box
    width: $container-width

.footer-wrapper
  width: $container-width
  margin-left: auto
  margin-right: auto

.footer-text-wrapper
  height: $footer-height
  line-height: $footer-height
  text-align: center
  .footer-text
    color: white
    font-family: avantgarde
    font-size: 20px



