extends ../layout

block css
  link(rel='stylesheet', href='/styles/home/home.css')

block content
  .top-wrapper
    .top
      .top-text.cursor-default.unselectable.animated.fadeIn(data-stellar-ratio='0.6')
        .title
          span.white-text EDU
          span.blue-text CODE
        .sub-title
          | education through coding

  .content-wrapper
    .middle-section
      .title.first-title LEARN
      .text-content
  .content-wrapper
    .middle-section
      .title.second-title PRACTICE
      .text-content
  .content-wrapper
    .middle-section
      .title.third-title EXPLORE
      .text-content
  .content-wrapper
    .middle-section
      .title.fourth-title REPEAT
      .text-content

block js
  script(type='text/javascript', src='/js/home/home.js')