extends ../layout

block css
  link(rel='stylesheet', href='/styles/home/home.css')

block content
  .content-wrapper
    .content
      .left-column
        .title News
        include ../content/news
      .right-column
        .title Latest
        include ../content/latest

block js
  script(type='text/javascript', src='/js/home/home.js')