.footer-box
  .footer-wrapper
    .footer-text-wrapper
      .footer-text.unselectable.cursor-default
        | &copy; 2014 The Seed
        br
        | Created by&nbsp;
        a(href='http://jeffterry.net') Jeff Terry
        | &nbsp;and&nbsp;
        a(href='http://hongjeon.com') Hong Jeon
    a.upload-link(href='uploader')

