.header-wrapper
  .header-box
    a.logo-box.unselectable(href='/')
      h1.title
        span.cream-text the&nbsp;
        span.crimson-text SEED
      .sub-title
        | only the truth*
    .navigation-box
      a.navigation-item.video(href='video')
        span Video
      a.navigation-item.politics(href='politics')
        span Politics
      a.navigation-item.sports(href='sports')
        span Sports
      a.navigation-item.science(href='science')
        span Science
      a.navigation-item.science(href='contribute')
        span Contribute
    .search-box
    .social-media












