@import ../global

$article-column-width: ($container-width - $column-padding) * 3 / 5
$headline-column-width: ($container-width - $column-padding) * 2 / 5

// wonderful blue (68, 133, 245)
@import ./articlepreviews
@import ./headlinepreviews

.content-wrapper
  .title
    cursor: default
    +unselectable()
    font-size: 40px
    text-align: center
    font-family: nunito
  .text-content
    font-size: 16px
    font-family: opensans
  .left-column
    float: left
    width: $article-column-width
  .right-column
    float: right
    width: $headline-column-width






